body{
    background-color: #f9e4b7;
}

table, th, td {
  border: 1px solid black;
}

.image-legend{
    width: 100%;
}
.tab { text-indent:40px }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centered-text {
    text-align: center;
}

.image-div{
  float: left;
  width: 33.33%;
}
